{% extends "orders/base.html" %}
{% load humanize %}
{% block title %}
 
{% endblock %}

{% block body %}
<h1>Корзина</h1>

{% if cart_items %}
		<form action="{% url 'order' %}" method="post">
{% csrf_token %}
  <div class="form-group">
  	{% for item in cart_items %}

<!-- <li> <input type="hidden" value="{{item.id}}" name="cart_id"> {{ item }} -->
<li> 
	<div class="card" style="width: 18rem;">
		<img src="static\images\{{ item.image }}" class="card-img-top" alt="Картинка">
		<div class="card-body">
			<h5> 
				<label for="exampleFormControlSelect1">
					<input type="hidden" value="{{item.id}}" name="cart_id"> {{ item }}
					<div>{{ item }}</div>
				</label>			    	
			</h5>
	<button type="{% url 'removefromcart' item.id %}" class="btn btn-outline-danger">Удалить</button>

	<!-- <a href="{% url 'topping' item.id %}">view topping</a> -->

</li>



{% endfor %}
   <hr>



<h4>Суммарная цена : ₽{{total_price|floatformat:2|intcomma}}</h4>
  </div>
  <button type="submit" class="btn btn-primary">Оплатить</button>
</form>
{% else %}

<h3>Ваша корзина на данный момент пуста</h3>

<form action="{% url 'index'%}">
    <button class="btn btn-primary" type="submit">Продолжить покупки</button>
</form>


{% endif %}
<hr>

{% if cart_items_ordered %}
<h4>Предыдущие заказы</h4>
{% for item in cart_items_ordered %}

<li> {{ item }}
	

</li>



{% endfor %}

{% endif %}


{% endblock %}
